
body{
    background-image: url('space.jpg');
}
.arrow{
    position: absolute;
    top: 200px;
    left: 600px;
    border-top: 0px solid red;
    border-right: 20px solid transparent;
    border-bottom: 40px solid white;
    border-left: 20px solid transparent;
}
.arrow::after{
    content: "";
    width: 40px;
    height: 5px;
    background: red;
    position: absolute;
    top: 40px;
    left: -20px;
}